body {
    background-color: rgb(196, 197, 235);
   /* background-image: url(BILDER/bakgrunn-farger.svg);*/
    background-repeat: no-repeat;
    background-size: auto;
    
    font-size: 220%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
   
    background: linear-gradient(-45deg, #e0a694, #d699b0, #79b0c4, #89b9ae);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;

}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

header {
    font-size: 220%;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;}
  
    
    footer {

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #00000023;
    font-size: 50%;
}
.bilde {
    height: 40vh;
    width: 70vh;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}


.fa {
    padding: 1%;
    width: 5%;
    text-align: center;
    text-decoration: none;
    
    
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  margin-bottom: auto;  }



.topnav {
  background-color: #33333370;
  overflow:auto
  
}

.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration:dashed;
  font-size: medium;
}

.topnav a:hover {
  background-color: #42414159;
  color: rgba(255, 255, 255, 0.473);
  transform: scale(1.1);  
 
}

  
  .simsim{
    width: 40vh;
  }
  

  .bikeblogo{
    height: 0%;
    
  }

.logo {
   
    width:20% ;
    flex-wrap:wrap ;
    padding-top: 3%;
    padding-bottom: 0%;
    padding-left: 30%;
    padding-right: 30%;

}

  


  form {
    max-width: 600px;
    margin: 0 auto;
}

  form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

  
  



img {width: 40%}


.bilder2{
  width: 30%;
}


.navlogo{
  width: 4%;
  text-align: left;
  
 
}




.navknapp {
  appearance: none;
  background-color: #ffffff00;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 110%;
  font-weight: 500;
  line-height: 3%;
  opacity: 1;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 600ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navknapp:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: rgb(196, 197, 235);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.navknapp:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.navknapp span {
  z-index: 1;
  position: relative;

}




.lacrossesiden{
  width: 30%;
  border-radius: 50%;
  padding-right: 50%; 
  padding-left: 20%;
}
.fmdsiden{
  width: 30%;
  border-radius: 50%;
  padding-left: 50%; 
  padding-right: 20%;
}

.teksthøyre{
  padding-left: 40%;
  padding-right: 10%;
  text-align: left;
}
.tekstvenstre{
  padding-right: 40%;
  padding-left: 10%;
  text-align: left;
}
.tekstmidt{
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
}
h4{
  padding-left: 20%;
  padding-right: 20%;
}
.boyza{
  width: 40%;
}

.trenddesign{
  width: 20%;
}


  

.portfoliobilder{
  width: 50%;
  padding-left:20%;
  padding-right:20% ;
  
  justify-content: center;
}



.button1 {background-color: #04AA6D;
 
  border: none;
  color:#000000;
  padding:  1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




.button2 {background-color: #008CBA;
  
  border:#333;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

} 


.box{
width: 40%;
}

.box:hover{
  transform: scale(1.2);
  transition: 1s;
}

.tilbake{
  justify-content: left;
  background-color: crimson;
  border:#333;
  color: white;
  padding: 1% 2%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bildetekst {
  position: relative;
  text-align: center;
  color: rgb(190, 128, 128);
}

.bildetekst_overlay_høyre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding-left:40% ;
  
}

.bildetekst_overlay_venstre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding-right: 40%;
  
}


.footerlogo{
  
  width: 10%;
  justify-content: center;
  
}